* {
    box-sizing: content-box;
    padding: 0;
    margin: 0;
    border: 0px;
}

@page {
    size: A4 portrait;
    bleed: 0;
    marks: none;
    margin: 0;
}

body {
    width: 1000px;
    height: auto;        
    
    margin: 0 auto;
    padding: 0;

    @media print {
        width: 210mm;
        height: 297mm;
        overflow: hidden;
    }
}