#content {
    padding-left: 20px;
    padding-right: 20px;

    @media print {
        padding-left: 5mm;
        padding-right: 5mm;
        margin-top: 5mm;
    }


    .row {
        width: 100%;
        margin: 0;
        padding: 0 0 10px 0;
        overflow: hidden;

        @media print {
            padding: 0 0 2mm 0;
        }
    }

    .article {
        display: block;
        float: left;
        height: 100%;

        &:nth-child(odd) {
            .internal {
                margin-right: 5px;

                @media print {
                    margin-right: 1mm;
                }
            }
        }

        &:nth-child(even) {
            .internal {
                margin-left: 5px;
            
                @media print {
                    margin-left: 1mm;
                }
            }
        }

        .internal {
            border: 1px solid $grey-3;
            height: 250px;
            overflow: hidden;
            box-sizing: content-box;

            @media print {
                height: 65mm;
            }           

            .col_1, .col_2 {
                position: relative;
                overflow: hidden;
                display: block;
                float: left;

                height: 100%;

                border: 5px white solid;
                box-sizing: border-box;

                @media print {
                    border: 1mm white solid;
                }

                p {
                    padding-right: 5px;
                }
            }
    
            img {
                width: auto;
                height: 240px;
                min-height: 240px;

                @media print {
                    height: 63mm;
                    min-height: 63mm;
                }
            }
        }
    }

    #vessel {
        width: 75%;

        .col_1 {
            width: 60%;
        }

        .col_2 {
            width: 40%;
        }
    }

    #region {
        width: 25%;

        .col_1 {
            width: 100%;

            h3 {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 10;
                background-color: rgba(255,255,255,0.7);
                width: 100%;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 9;
            }
        }
    }

    #risk {
        width:60%;

        .col_1 {
            width: 33%;
        }

        .col_2 {
            width: 67%;
        }
    }

    #tampering {
        width: 40%;

        .col_1 {
            width: 40%;
        }

        .col_2 {
            width: 60%;
        }
    }
    
    #movement {
        width: 50%;

        .col_1 {
            width: 33%;
        }

        .col_2 {
            width: 67%;
        }
    }

    #history {
        width: 50%;

        .col_1 {
            width: 40%;
        }

        .col_2 {
            width: 60%;
        }
    }

    #footer {
        .internal {
            border: none;
        }
        width: 100%;

        .col_1 {
            width: 25%;
        }

        .col_2 {
            width: 75%;
        }
    }
}