@font-face {
    font-family: UnitRounded;
    src: url("https://www.csiro.au/themes/default/font/UnitRoundedWeb-Black.woff") format("woff");
    font-weight: 900;
    font-style: normal; 
}
@font-face {
    font-family: UnitRounded;
    src: url("https://www.csiro.au/themes/default/font/UnitRoundedWeb-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal; 
}
@font-face {
    font-family: UnitRounded;
    src: url("https://www.csiro.au/themes/default/font/UnitRoundedWeb-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}


html {
    font-size: 12px;
    line-height: 100%;
    font-family: $font-body;

    @media print {
        font-size: 10pt;
    }
}

h1, h2, h3, h4 {
    font-family: $font-head;
    line-height: 1em;
    margin-bottom: 0em;

    color: $midnight-blue;
}

h1 {
    font-size: 2.6rem;    

    @media print {
        font-size: 24pt;
    }
}

h2 {
    font-size: 2.2rem;
    
    @media print {
        font-size: 22pt;
    }
}

h3 {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;

    @media print {
        font-size: 14pt;
    }
}

h4 {
    text-transform: uppercase;
    color: $aqua;

    @media print {
        font-size: 8pt;
    }
}

p {
    font-size: 1rem;
    line-height: 1.2em;
    margin-bottom: 0.8em;

    @media print {
        font-size: 9.5pt;

        &.small {
            font-size: 6.5pt;
        }
    }
}

td p {
    margin: 0;

    @media print {
        font-size: 8.5pt;
    }
}

a {
    &, &:visited, &:active, &:hover {
        color: #000;
        text-decoration: none;
    }
}