$font-head: 'UnitRounded', sans-serif;
$font-body: "Open sans", Calibri, sans-serif;

$midnight-blue: #003859;
$aqua: #00aeda;
$grey-1: rgba(0,0,0,0.08);
$grey-2: rgba(0,0,0,0.15);
$grey-3: rgba(0,0,0,0.2);