footer {
    position: relative;
    overflow: hidden;
    padding: 10px 20px 0 20px;

    .grid_wrap {
        display: grid;
        grid-template-columns: repeat(11, 1fr);
        grid-gap: 10px;

        padding-top: 10px;

        border-top: 1px solid $aqua;
        
        .col_1 {
            grid-row: 1;
            grid-column: 1 / 4;
        }
    
        .col_2 {
            grid-row: 1;
            grid-column: 4 / 12;
        }
    }
}