header {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;

    @media print {
        height: 40mm;
    }

    .banner {
        width: 100%;
        height: auto;

        display: block;
        position: absolute;
        top: 30px;
        left: 0;
    }

    .brand {
        width: 102%;
        height: auto;

        display: block;
        position: absolute;
        top: 0;
        left: 0;
    }

    .logo {
        width: 60px;
        height: auto;

        display: block;
        position: absolute;
        top: 10px;
        left: 25px;

        @media print {
            width: 12mm;
            top: 2.5mm;
            left: 5.5mm;
        }
    }

    .title {
        position: absolute;
        top: 100px;
        left: 25px;

        @media print {
            top: 20mm;
            left: 5.5mm;
        }

        h1, h2, p {
            color: #fff;
            margin: 0;
            padding: 0;

            font-family: $font-head;
            line-height: 130%;
        }
    }
}