section.content {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-gap: 10px;

    padding-left: 20px;
    padding-right: 20px;

    @media print {
        padding-left: 5mm;
        padding-right: 5mm;
    }

    input, textarea {
        border: 0;
        padding: 0;
        margin: 0;
        box-shadow: none;
    }

    table.data {
        width: 100%;

        tr:nth-child(even) {
            background-color: $grey-1;
        }
        tr:nth-child(odd) {
            background-color: $grey-2;
        }

        td, th {
            padding: 2px 5px;
            text-align: left;
            vertical-align: top;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    article {
        border: 1px solid $grey-3;
        padding: 5px;

        @media print {
            padding: 2mm;
            height: 62mm;
            max-height:62mm;
        }
    }

    .grid_wrap {
        display: grid;
        grid-gap: 10px;

        h3 {
            grid-row: 1;
        }

        .col_1 {
            grid-row: 2;
            overflow: hidden;
        }

        .col_2 {
            grid-row: 2;
            overflow: hidden;
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    #vessel {
        grid-row: 1;
        grid-column: 1 / 9;

        .grid_wrap {
            grid-template-columns: repeat(5, 1fr);

            h3 {
                grid-column: 1/6;
            }

            .col_1 {
                grid-column: 1/4;
            }

            .col_2 {
                grid-column: 4/6;
            }
        }
    }

    #region {
        grid-row: 1;
        grid-column: 9 / 12;

        .grid_wrap {
            grid-template-columns: repeat(1, 1fr);
            
            h3 {
                grid-column: 1/2;
            }

            .col_1 {
                grid-column: 1/2;
            }
        }
    }

    #risk {
        grid-row: 2;
        grid-column: 1 / 7;

        .grid_wrap {
            grid-template-columns: repeat(11, 1fr);

            h3 {
                grid-column: 1/12;
            }

            .col_1 {
                grid-column: 1/5;
            }

            .col_2 {
                grid-column: 5/12;
            }
        }
    }

    #tampering {
        grid-row: 2;
        grid-column: 7 / 12;

        .grid_wrap {
            grid-template-columns: repeat(11, 1fr);

            h3 {
                grid-column: 1/12;
            }

            .col_1 {
                grid-column: 1/5;
            }

            .col_2 {
                grid-column: 5/12;
            }
        }
    }
    
    #movement {
        grid-row: 3;
        grid-column: 1 / 6;

        .grid_wrap {
            grid-template-columns: repeat(11, 1fr);

            h3 {
                grid-column: 1/12;
            }

            .col_1 {
                grid-column: 1/5;
            }

            .col_2 {
                grid-column: 5/12;
            }
        }
    }

    #history {
        grid-row: 3;
        grid-column: 6 / 12;

        .grid_wrap {
            grid-template-columns: repeat(11, 1fr);

            .col_1 {
                grid-column: 1/5;
            }

            .col_2 {
                grid-column: 5/12;
            }
        }
    }
}